body{
  background-color:rgb(231, 238, 238);
}
.header{
  text-align:center;
  color:black;
  font-size:50px;
  padding:20px;
  margin-top:20px;
  margin-bottom: 20px;
}
.border{
  color:darkblue;
  border-style:double;
  border-width:5px;

}
.Para{
  text-align: left;
  margin-left: 20px;
  padding-left:20px;
  color:darkcyan;
  font-size: 20px;
}