
body{
  background-image:url(download.jpg);
  background-size:cover;
  background-position: center;
}

.header1{
  margin-right: 150px;
  font-size: 100px;
  font-style:oblique;
  color: #1a1512;
  text-align: center;

}

.header2{
  color:rgb(255, 239, 239);
  text-align:right;
}
